<!DOCTYPE html>
<html lang="fr">

<head>
	<title>Resultat</title>
  <meta charset="utf-8">
	<link rel="stylesheet" href="/static/style.css">
</head>

<body>
	<header>
		<a href="/"><img class='logo' src='/static/logo.png'/></a>
		<h1>Header</h1>
	</header>

    <nav>
 	    <a href="/">Accueil</a>
	    <a href="#">Link</a>
	    <a href="/signup">S'inscrire</a>
	    <a href="/login">Se connecter</a>
	</nav>
	<column class="recent p3leftcol">
    	<h2>Focus</h2>
    	<img src="{main_content}" />
    </column>

    <column class="recent p3rightcol">
    	<h2>R&eacute;sultats</h2>
    	{suggestions}
    </column>

<body>

</html>
