/*Commun a toutes les pages */
body {
    margin: 0;
    background-color: #272822;
    color: #F8F8F2;
    padding: 10px;
}
.bannerlink{
  text-decoration: none;
}
header {
    padding: 10px;
    background-color: #494a44;
    text-align: center;
    color: #E69F66;
    text-decoration: none;
    text-align:center;
}

nav {
    overflow: hidden;
    background-color: #E69F66;
    max-width:10000px;
    margin:auto;
    display: flex;
    justify-content:space-evenly;
}

nav a {
    color: #f2f2f2;
    text-align: cent
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    color: #E69F66;
}

p {
    display:block;
}

/*Page d'acceuil*/
.p1col {
    width: 100%;
}
/*Page recherche*/
.p2col{
    width: 100%;

}
.p2col h2{
    text-align: center;
}

.p3leftcol {
  float: left;
  width: 75%;
}

/* Right column */
.p3rightcol {
  float: right;
  width: 25%;
