/*Commun a toutes les pages */
body {
    margin: 0;
    background-color: #272822;
    color: #F8F8F2;
    padding: 10px;
}
header {
    padding: 10px;
    background-color: #494a44;
    text-align: center;
    color: #E69F66;
    text-decoration: none;
    text-align:center;
}

nav {
    overflow: hidden;
    background-color: #E69F66;
    max-width:10000px;
    margin:auto;
    display: flex;
    justify-content:space-evenly;
}

nav a {
    color: #f2f2f2;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    color: #E69F66;
}

p {
    display:block;
}

/*Page d'acceuil*/
.home_div {
    width: 100%;
}
/*Page recherche*/
.search_div{
    width: 100%;

}

.search_div h2{
    text-align: center;
}

.show_mainMatter {
  float: center;
  width: 100%;
}

.account_box {
  float: center;
  margin: auto;
  padding: auto;
}

.bannerlink{
  text-decoration: none;
}

.main_image{
    max-width: 75%;
}

.fail_message{
  text-align: center;
  font-size: 1.2em;
  color: red;
}
